<?xml version="1.0"?>
<!--
/**
 * @category    CleatSquad
 * @package     CleatSquad_Smarty
 * @copyright   Copyright (c) 2021 CleatSquad, Inc. (http://www.cleatsquad.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\TemplateEngineFactory">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="tpl" xsi:type="string">CleatSquad\Smarty\Framework\View\TemplateEngine\Smarty</item>
            </argument>
        </arguments>
    </type>
</config>
